.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

.number {
  font-size: 60px;
  color: white;
  margin-top: 50px;
}

.randomize-button {
  margin-top: 60px;
  padding: 20px 40px;
  font-size: 20px;
  background-color: rgb(190, 0, 155);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}


.randomize-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.randomize-button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.interval-container {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

label {
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid lightpink;
  font-size: 16px;
  text-align: center;
  outline: none;
  margin-right: 10px;
}

.set-interval-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.interval-input button {
  position: relative;
  margin-left: 10px;
}

.interval-input button::before,
.interval-input button::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.interval-input button::before {
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid lightpink;
}

.interval-input button::after {
  right: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid lightpink;
}